@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body,
html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.title {
  background-color: #ebe6e6;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  margin: 20px 10px;
  padding: 10px 30px;
}
.title span {
  color: #dfaa5b;
}
.introduce1 span {
  color: #dfaa5b;
  font-size: 32px;
  font-weight: bolder;
}
.imgIntroduce {
  margin-left: 30px;
  width: 600px;
  height: 400px;
}
.introduce1,
.introduce2 {
  margin: 100px 40px;
}
.introduce1 p,
.introduce2 p {
  line-height: 30px;
}
.around1 {
  background-color: black;
  margin-top: 45px;
}
#imgRight1 {
  margin-left: 550px;
}
.around2 {
  background-color: #dfaa5b;
}
.imgRight {
  max-width: 500px;
  max-height: auto;
}
/* For Tablet */
@media all and (max-width: 768px) {
  * {
    font-size: 18px;
  }
  .title {
    font-size: 30px;
  }
  .introduce1,
  .introduce2 {
    margin-top: 20px;
  }
  .introduce1 span {
    font-size: 20px;
  }
  .imgIntroduce {
    margin-left: 30px;
    width: 400px;
    height: 300px;
  }
  .around1 {
    background-color: black;
    max-width: 420px;
    max-height: 280px;
  }
  .around2 {
    background-color: #dfaa5b;
    max-width: 420px;
    max-height: 280px;
  }
}
