* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url("../images/royalroom.jpg");
  height: 60vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
  color: white;
  padding-top: 10%;
  font-weight: bold;
}

.home p {
  color: white;
}

.home .content {
  text-align: left;
  color: black;
}
#descrip {
  line-height: 40px;
  width: 90%;
  margin: 20px 40px;
}
/* content */
.content p {
  margin-top: 80px;
  text-align: justify;
}
.content .left_slide {
  float: left;
  width: 100%;
  margin-left: 30px;
}
.flex {
  display: flex;
}
.content .right {
  margin-right: 20px;
}
.top {
  margin-top: 50px;
}
.p {
  margin-left: 80px;
}
.right .p {
  text-align: left;
}
.row {
  margin: 50px;
  display: flex;
}
.title {
  margin-left: 50px;
  font-weight: bold;
  font-family: "Ubuntu";
}
/* roomamenities */
.roomamenities h1 {
  color: black;
  background: #dfaa5b;
  text-align: center;
  margin-top: 50px;
  font-family: "Anek Latin";
  font-size: 35px;
}
.roomamenities hr {
  width: 100%;
}
/* slide */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 50%;
}
.slide-wrapper {
  width: 2500px;
  animation: slide 5s ease infinite;
}
.slide {
  float: left;
  height: 510px;
  width: 800px;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -800px;
  }
  50% {
    margin-left: -800px;
  }
  60% {
    margin-left: -1600px;
  }
  80% {
    margin-left: -1600px;
  }
}
/* slide */
.roomamenities .right_slide {
  float: right;
  margin-top: 40px;
  width: 50%;
}
.roomamenities img {
  width: 500px;
  margin-left: 250px;
}
.roomamenities .left_slide {
  float: left;
  width: 40%;
}

.button_suggest2 button {
  background: #dfaa5b;
  color: white;
  margin-left: 100px;
  margin-bottom: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.button_suggest2 button:hover {
  background: black;
  color: #dfaa5b;
  cursor: pointer;
}
/* responsive */
@media only screen and (max-width: 768px) {
  .content .content {
    flex-direction: column;
    margin: auto;
  }
  .roomamenities .left {
    margin: auto;
  }
  .slideshow {
    margin: auto;
  }
  .right img {
    display: block;
  }
  .button_suggest2 button {
    display: none;
  }
}
